.chart-item {
  cursor: move;
  box-shadow: 2px 2px 12px black;
  position: absolute;
  border: 1px solid transparent;
}

.chart-item-active {
  border: 1px dashed #0b71e6;
}

.chart-item-over-active {
  box-shadow: 5px 5px 5px 5px yellow;
}
